html {
  font-size: 16px;
}

@media (min-width: 640px) {
  html {
    font-size: 16.32px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16.65px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16.98px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 17.32px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 17.67px;
  }
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.33rem;
}

.text-xl {
  font-size: 1.78rem;
}

.text-2xl {
  font-size: 2.37rem;
}

.text-3xl {
  font-size: 3.16rem;
}

.text-4xl {
  font-size: 4.21rem;
}

.text-5xl {
  font-size: 5.61rem;
}

.text-6xl {
  font-size: 7.48rem;
}

.text-7xl {
  font-size: 9.97rem;
}

.text-8xl {
  font-size: 13.29rem;
}

.text-9xl {
  font-size: 17.71rem;
}

.text-sm {
  font-size: 0.75rem;
}

.text-xs {
  font-size: 0.56rem;
}

.bg-orange {
  background-color: #FF7900;
}

.text-orange {
  color: #FF7900;
}

.border-orange {
  border-color: #FF7900;
}

.bg-brown {
  background-color: #2D1A0C;
}

.text-brown {
  color: #2D1A0C;
}

.border-brown {
  border-color: #2D1A0C;
}

.bg-black {
  background-color: #000000;
}

.text-black {
  color: #000000;
}

.border-black {
  border-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.border-white {
  border-color: #ffffff;
}

.bg-gradient {
  background-color: linear-gradient(to bottom, #000000, #2D1A0C, #000000);
}

.text-gradient {
  color: linear-gradient(to bottom, #000000, #2D1A0C, #000000);
}

.border-gradient {
  border-color: linear-gradient(to bottom, #000000, #2D1A0C, #000000);
}
